<div *ngFor="let card of cards$ | async" class='card-container'>
	<div class='card'>
		<div class='card-content'>
			<tui-avatar [avatarUrl]="card.avatar" [rounded]="true"></tui-avatar>
			<div class='card-details'>
				<h6 class='card-title'>{{card.name}}</h6>
				<tui-line-clamp class='card-message' [content]='card.message' [lineHeight]="20"
					[linesLimit]="1"></tui-line-clamp>
			</div>
		</div>

		<div class='card-footer'>
			<div class='card-time'>{{card.time}}</div>
			<div *ngIf="card.unread" class='card-unread'>
				{{card.unread}}</div>
		</div>

	</div>
</div>