<section class="chat-container">
	<header class="chat-header">
		<div tuiCell="m" class="header-content">
			<div class="header-left">
				<tui-avatar
				[autoColor]="true"
				 text="E B"></tui-avatar>
				<div>
					<p class='user-name'>Jess Toriff</p>
					<div class="user-status">Online</div>
				</div>
			</div>
			<div class="header-right">
				<button class='tool-button' size="m" *ngFor="let button of buttons" tuiIconButton appearance="secondary"
					[icon]="button.icon"></button>
			</div>
		</div>
	</header>
</section>