<section class='flex flex-col  p-3 h-full overflow-y-auto no-scrollbar lg:max-w-[360px] bg-white rounded-md ml-5 mt-2'>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card><app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card><app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card><app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
<app-chat-card></app-chat-card>
</section>